<nav class="navbar navbar-expand-md bg fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="#">
        <i class="fa fa-shopping-cart" style="font-size: 30px;" aria-hidden="true"></i>
       <!-- <img src="shoppingCart.png" style="width: 70px; border-radius: 100px; height: 40px;" alt="logo"> -->
        <button class="btn" style="color: #e0d7e6; font-size: 25px;"><b>Inventory</b></button>
        </a>
    </ul>
      <ul class = "nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" style="color: #e0d7e6;" routerLink="/list-product"><b>Product</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #e0d7e6;" routerLink="/list-purchase"><b>Purchase</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #e0d7e6;" routerLink="/list-sales"><b>Sales</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #e0d7e6;" routerLink="/signup"><b>Signup</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #e0d7e6;" routerLink="/login"><b>Login</b></a>
      </li>
    </ul>
  </div>
</nav>
