<nav class="navbar navbar-expand-md bg fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/list-product"><b>Product</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-purchase"><b>Purchase</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-sales"><b>Sales</b></a>
      </li>
    </ul>
    <ul class = "nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup"><b>Signup</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><b>Login</b></a>
      </li>
    </ul>
  </div>
</nav>
