<div class="col-md-11, container" style="margin-top: 100px; background-color:#EEEEEE; color: #2a0240; width: 600px;">
  <h2 class="text-center" style="color:#0f044c">{{isEdit ? 'Edit Purchase' : 'Add Purchase'}}</h2>
  <div class="row">
    <div class="col-sm-11">

      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

       <div class="form-group col-sm-6">
        <label for="ProductId"><b>Product Name:</b></label><br>
      <select formControlName="ProductId" placeholder ="Select Product Name" name="ProductId" id="ProductId" class="form-control" style="width:500px" required>
        <option *ngFor="let pro of products" value="{{pro.ProductId}}">
          {{pro.ProductName}}
        </option>
      </select>
      <div class = "error" *ngIf="f.ProductId.invalid && f.ProductId.touched">
        Select Product Name
      </div>
    </div>
    <br/>

    <div class="form-group col-sm-6">
      <label for="PurchaseDate"><b>Purchase Date:</b></label><br>
    <input formControlName="PurchaseDate" bsDatepicker placeholder="Select the purchase date" name="PurchaseDate" class="form-control" id="PurchaseDate" style="width: 500px;" required>
    <div class = "error" *ngIf="f.PurchaseDate.invalid && f.PurchaseDate.touched">
      Select Purchase Date
    </div>
  </div>
     <br/>


      <div class="form-group">
        <label for="NoReceived"><b>No of Received Products:</b></label>
        <input formControlName="NoReceived" placeholder="Enter the No of Received Products" name="NoReceived" class="form-control" id="NoReceived" required>
      <div *ngIf="f.NoReceived.invalid && (f.NoReceived.dirty || f.NoReceived.touched || submitted) && f.NoReceived.errors.required" style="color:red;">Please enter the NoReceived</div>
        <small class="error" *ngIf="f.NoReceived.invalid">
          <div *ngIf="f.NoReceived.hasError('pattern')">Only numbers are allowed.</div>
      </small>
    </div>
    <br/>

    <div class="form-group">
      <label for="SupplierName"><b>Supplier Name:</b></label>
      <input formControlName="SupplierName" placeholder="Enter the SupplierName" name="SupplierName" class="form-control" id="SupplierName" required>
    <div *ngIf="f.SupplierName.invalid && (f.SupplierName.dirty || f.SupplierName.touched || submitted) && f.SupplierName.errors.required" style="color:red;">
      Please enter the Supplier Name
    </div>
    </div>
  <br/>

        <button type="Submit" class="btn btn-primary" style="background-color:#53047d; color: #e0d7e6;"><b>{{isEdit ? 'Update' : 'Add Purchase'}}</b></button>

      </form>
      </div>

      <p style= "text-align:left; padding-left:300px;color:red">
        Form Status: {{ addForm.status }}
      </p>

  </div>
</div>
