<div class="col-md-11, container" style="margin-top: 100px; background-color:#EEEEEE; color: #2a0240; width: 600px;">
  <h2 class="text-center" style="margin-top: 70px; color:#141e61">{{isEdit ? 'Edit Product' : 'Add Product'}}</h2>
  <div class="row">
    <div class="col-sm-11">

      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="ProductName"><b>Product Name:</b></label>
        <input type="ProductName" formControlName="ProductName" placeholder="Product Name" name="ProductName" class="form-control" id="ProductName">
      </div>
      <div *ngIf="addForm.controls['ProductName'].invalid && (addForm.controls['ProductName'].dirty || addForm.controls['ProductName'].touched || submitted)">
        <div *ngIf="addForm.controls['ProductName'].errors.required" style="color:red;">
        Please enter the Product Name
      </div>
     </div>
     <br/>

      <div class="form-group">
        <label for="BrandName"><b>Brand Name:</b></label>
        <input formControlName="BrandName" placeholder="Brand Name" name="BrandName" class="form-control" id="BrandName" required>
      </div>
      <div *ngIf="addForm.controls['BrandName'].invalid && (addForm.controls['BrandName'].dirty || addForm.controls['BrandName'].touched || submitted)">
        <div *ngIf="addForm.controls['BrandName'].errors.required" style="color:red;">
        Please enter the Brand Name
      </div>
    </div>
    <br/>

      <div class="form-group">
        <label for="Label"><b>Label:</b></label>
        <input formControlName="Label" placeholder="Label" name="Label" class="form-control" id="Label">
      </div>
      <br/>

      <div class="form-group">
        <label for="Quantity"><b>Quantity:</b></label>
        <input formControlName="Quantity" placeholder="Quantity" name="Quantity" class="form-control" id="Quantity">
        <small class="error" *ngIf="addForm.controls['Quantity'].invalid">
            <div *ngIf="addForm.controls['Quantity'].hasError('pattern')">Only numbers are allowed.</div>
        </small>
      </div>
      <br/>

        <button type="Submit" style="background-color:#141e61; color: #e0d7e6;"><b>{{isEdit ? 'Update' : 'Add Product'}}</b></button>
    <br/>
      </form>
      </div>
      <p style= "text-align:left; padding-left:300px;color:red">
        Form Status: {{ addForm.status }}
      </p>
  </div>
</div>
