<div class="col-md-11, container" style="margin-top: 100px; background-color:#EEEEEE; color: #2a0240; width: 600px;">
  <h2 class="text-center" style="color:#0f044c">{{isEdit ? 'Edit Sales' : 'Add Sales'}}</h2>
  <div class="row">
    <div class="col-sm-11">

      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="form-group col-sm-6">
          <label for="ProductId"><b>Product Name:</b></label><br>
        <select formControlName="ProductId" placeholder ="Select Product Name" name="ProductId" id="ProductId" class = "form-control" style="width: 500px;" required>
          <option *ngFor="let pro of products" value="{{pro.ProductId}}">
            {{pro.ProductName}}
          </option>
        </select>
        <div class = "error" *ngIf="addForm.controls['ProductId'].invalid && addForm.controls['ProductId'].touched">
          Select Product Name
        </div>
      </div>
      <br/>

      <div class="form-group col-sm-6">
        <label for="SalesDate"><b>Sales Date:</b></label><br>
      <div class = "error" *ngIf="addForm.controls['SalesDate'].invalid && addForm.controls['SalesDate'].touched">
        Select Sales Date
      </div>
      <input formControlName="SalesDate" placeholder="Enter the date" name="SalesDate" class="form-control" id="SalesDate" style="width: 500px;" required>
      </div>

     <div class="form-group">
      <label for="NoOfSales"><b>Number Of Sales:</b></label>
      <input formControlName="NoOfSales" placeholder="Enter the Number Of Sales" name="NoOfSales" class="form-control" id="NoOfSales" required>
      <small class="error" *ngIf="addForm.controls['NoOfSales'].invalid && (addForm.controls['NoOfSales'].dirty || addForm.controls['NoOfSales'].touched)">
        <div *ngIf="addForm.controls['NoOfSales'].hasError('required')">This field is required.</div>
        <div *ngIf="addForm.controls['NoOfSales'].hasError('pattern')">Only numbers are allowed.</div>
    </small>
  </div>
  <br/>

  <div class="form-group">
    <label for="CustomerName"><b>Customer Name:</b></label>
    <input formControlName="CustomerName" placeholder="Enter the CustomerName" name="CustomerName" class="form-control" id="CustomerName" required>
  </div>
  <div *ngIf="addForm.controls['CustomerName'].invalid && (addForm.controls['CustomerName'].dirty || addForm.controls['CustomerName'].touched || submitted)">
    <div *ngIf="addForm.controls['CustomerName'].errors.required" style="color:red;">
    Please enter the Customer Name
  </div>
</div>
<br/>

        <button type="Submit"  class="btn btn-primary" style="color: #e0d7e6;"><b>{{isEdit ? 'Update' : 'Add Sales'}}</b></button>
      </form>
      </div>

      <p style= "text-align:left; padding-left:300px;color:red">
        Form Status: {{ addForm.status }}
      </p>

  </div>
</div>
  <!-- <div class="conatiner" style="padding-left:10px;">
  <div class="col-lg-5 table-responsive">  -->
