<h2 class="text-center" style="margin-top: 70px; color:#0f044c"> Purchase Details</h2>
<div class="container container-box-shadow" style="padding-top:20px;background-color:white">
  <div class="col-sm-11" >
    <input class="form-control" type="text" placeholder="Search Here.." [(ngModel)]="searchText"> <br />


    <div class="text-right">
      <button class="btn btn-primary" style="color: #EEEEEE;" (click)="addpurchase()"> Add Purchase</button>
    </div>
    <br/>
    <table class="table table-striped">
      <thead style="color: #0f044c; background: #787a91;">
        <tr>
          <th>Purchase Id</th>
          <th>Purchase Date</th>
          <th>No Received</th>
          <th>Supplier Name</th>
          <th>Product Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchase | filter:searchText| paginate: { itemsPerPage: 6, currentPage: p }">
          <td>{{purchase.PurchaseId}}</td>
          <td>{{purchase.PurchaseDate}}</td>
          <td>{{purchase.NoReceived}}</td>
          <td>{{ purchase.SupplierName}}</td>
          <td>{{purchase.ProductName}}</td>
          <td><button class="btn btn-danger" style="color: #e0d7e6;" (click)="deletepurchase(purchase)"> <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
            <button class="btn btn-primary" style="color: #e0d7e6; margin-left: 20px;" (click)="editpurchase(purchase)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ul>
  </div>
</div>
